body {
    font-family: 'VT323', monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0px 90px 0px 90px;
}

.photo {
    font-size: 5px;
    margin: 0;
}

.title {
    font-size: 80px;
    margin: 0;
}

.typing {
    width: fit-content;
}

.line-1{
    border-right: 2px solid rgb(255, 255, 255);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    margin: 0;
    margin-top: 10px;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 1.2s steps(20) 1s 1 normal both,
             blinkTextCursor 400ms steps(20) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.header {
    display: flex;
}

.timeline {
    margin: 0;
    font-size: 20px;
}

.timeline-title {
    font-size: 65px;
}

.timeline-pre {
    font-size: 25px;
    font-family: 'VT323', monospace;
}

a {
    color: white;
}

.head {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 13px;
}

.head a {
    text-decoration: none;
    margin-right: 50px;
}

.description {
    font-size: 25px;
}